body {
  padding: 3%;
}
.user_container {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
  padding-bottom: 3%;
}

.photo {
  width: 20%;
  border: 2px solid;
}

.user-info {
  width: 80%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 1% 0;
}

h4 {
  padding-top: 7%;
}

h3 {
  padding-bottom: 1%;
  margin-top: 0;
}

.bio {
  border: 2px solid;
  padding: 2%;
}

.post {
  border: 2px solid;
  margin: 2% 0 0 0;
  padding: 2%;
}

.like-comment {
  padding-left: 80%;
  margin: 0;
  width:fit-content;
}

button {
  font-size: 16px;
  border: 2px solid;
  padding: 1%;
  box-shadow: 5px 5px 0px 0px;
  background-color: white;
  text-align: center;
  display: block;
  margin: 2% auto;
}

.comments {
  border: 2px solid;
  padding: 0 1%;
  margin: 1px 0;
}
